<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ctrl+Del</title>
    <link rel = "stylesheet" href="../static/index.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
  </head>
  <body class = "layer">
    {% if pass_error %}
      <h1>{{pass_error}}</h1>
    {% endif %}
    <form name="register" method="POST" action="/register_check">
    <table>
      <tr>
          <td>아이디</td>
          <td><input type=text name="id" required><br></td>
      </tr>
      <tr>
        <td>비밀번호</td>
        <td><input type=password id="password" name="pass" required><br></td>
      </tr>
      <tr>
          <td>비밀번호 확인</td>
          <td><input type=password id="password_re" name="pass_re" required><br></td>
      </tr>
       <tr>
         <td>팀</td>
         <td><input type=text name="team" required><br></td>
       </tr>
       <tr><td colspan="2"><br></td></tr>
       <tr>
         <td colspan="2"><input class="btn" type = submit value = "회원가입"></td>
       </tr>
       <tr>
          <td colspan="2"><a style="font-size:90%; color:#734A56;"href="/">홈으로</a></td>
       </tr>
    </table>
    </form>
    
  </body>
</html>
