<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ctrl+Del</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
    <link rel = "stylesheet" href="../static/index.css" type="text/css">
  </head>
  <body>
    <form name="login" method="POST" action="/login">
      <table>
        <tr>
          <td colspan="2"><h1 style="font-size: 200%">ctrlDel</h1></td>
        </tr>
        <tr>
          <td>아이디</td>
          <td><input type=text class="btn_input" name="id"><br></td>
        </tr>
        <tr>
          <td>비밀번호</td>
          <td><input type=password class="btn_input" name="pass"><br></td>
        </tr>
        <tr>
            <td><br></td>
          </tr>
        <tr>
          <td colspan="2"><input class="btn" type=submit value="로그인"></td>
        </tr>
    </form>
    <form name="register" method="POST" action="/register">
        <tr>
          <td colspan="2"><input class="btn" type=submit value="회원가입"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
